################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OS_Dry3_Q4/v15/Browse.VC.opendb
